<h1>
  Test text
</h1>
<div mat-dialog-content>
  <span *ngIf="data.question === 'question1'">First dialog opened; assign each new dialog to a new number
    to get correct value</span>
  <span *ngIf="data.question === 'question2'"></span>
  <span *ngIf="data.question === 'question3'"></span>
  <span *ngIf="data.question === 'question4'"></span>
  <span *ngIf="data.question === 'question5'"></span>
  <span *ngIf="data.question === 'question6'"></span>
  <span *ngIf="data.question === 'question7'"></span>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
