<div class="container" style="margin-top: 100px">
  <form [formGroup]="loginForm">
    <h3 style="margin-bottom: 20px">
      Sign In
    </h3>

    <div class="form-group">
<!--      <h6>-->
<!--        Email address-->
<!--      </h6>-->
      <mat-form-field class="col-5 mb-2 mx-auto" appearance="outline">
        <mat-label>Email address</mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="Email address">
        <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
<!--      <h6>-->
<!--        Password-->
<!--      </h6>-->
      <mat-form-field class="col-5 mb-2 mx-auto" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password"
               placeholder="Password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

  </form>

  <div class="row" *ngIf="isIncomplete()">
    <button mat-stroked-button disabled>
      Sign-up
    </button>
  </div>

  <div class="row" *ngIf="!isIncomplete()">
    <button mat-stroked-button (click)="signIn()">
      Sign-in
    </button>
  </div>

  <div>
    <span routerLink="/forgot-password" style="cursor: pointer">Forgot Password?</span>
    <br>
    <span>Don't have an account? <span class="redirect" routerLink="/tltv1" style="cursor: pointer">Please take this short test to see if you can make an account</span></span>
  </div>

</div>
