<div class="container" style="margin-top: 100px">
  <div id="content"  #content *ngIf="reportEnabled">
    <p style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">
      <strong>R&D Tax Credit claim for first accounting period to {{claimForm.claimEndDate.seconds * 1000 | date:'dd-MM-yyyy'}} </strong>
    </p>
    <p style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">
      <strong>{{claimForm.compName}}</strong>
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      Project: {{claimForm.projectSynopsis}}
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      Duration: Commencing {{claimForm.claimStartDate.seconds * 1000 | date:'dd-MM-yyyy'}},
      ran though the accounting period and ended by {{claimForm.claimEndDate.seconds * 1000 | date:'dd-MM-yyyy'}}
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      Report prepared by: {{claimForm.name}}
    </p>

    <p style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">
      <strong>Company</strong>
    </p>

    <ul style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      <li style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
        {{claimForm.compName}}, is a limited company registered in the UK
      </li>
      <li style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
        Registered Office is {{fullAddress}}
      </li>
    </ul>

    <p style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">
      <strong>Overview</strong>
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      This report is provided to HM Revenue & Customs on behalf of {{claimForm.compName}} ("the Company") in support
      of the claim for enhanced R&D tax reliefs, and an R&D repayment claim / reduction in Corporation Tax
      as appropriate, in respect of qualifying expenditure on research and development during the latest
      accounting year ended {{claimForm.claimEndDate.seconds * 1000 | date:'dd-MM-yyyy'}}.
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      {{claimForm.projectRAndDDescription}}
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      {{claimForm.problemToSolve}}
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      MaximumR&D is a software tool designed to assist with the preparation of HMRC-compliant tax relief claims.
    </p>

    <p style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">
      <strong>{{claimForm.projectLead}}</strong>
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      {{claimForm.projectLeadExperience}}
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      {{claimForm.projectLead}} is therefore a competent professional in relation to identifying what constitutes innovation in this area of research and development.
    </p>

    <p style="font-size: 14pt; font-family: arial, helvetica, sans-serif;">
      <strong>Basis of R&D tax claim</strong>
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      It is our view that this project meets the key qualifying criteria for R&D tax relief:
    </p>

    <ul style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      <li style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
        {{claimForm.projectLead}} is an acknowledged specialist in this field (see above)
      </li>
      <li style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
        The Scientific or Technological Advancement sought was {{claimForm.uniqueProjectDevelopment}}
      </li>
      <li style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
        The Scientific or technological uncertainties, and why they were not readily deducible,
        {{claimForm.projectProblems}}, {{claimForm.projectProblemsDifficulty}}
      </li>
      <li style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
        The work done to resolve the uncertainties, {{claimForm.projectProblemsSolved}}
      </li>
    </ul>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      Having examined the evidence we have concluded that the advance in technology is not simply because this is
      software, and that the activity carried out cannot be characterised as the routine adaptation of an existing
      product or process, but represents an advancement in technology.
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;" *ngIf="claimForm.stateAid !== 'yes'">
      No Notified State Aid or de minimis State Aid has been received, or has been offered, in relation to this project.
      The full amount of qualifying expenditure on R&D is available for claim.
      No capital expenditure has been included in the claim.
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;" *ngIf="claimForm.stateAid === 'yes'">
      State Aid/De Minimis/Capital Expenditure has been included
    </p>

<!--    TODO the tick box stuff-->

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      Detailed computations in support of this claim are attached as a separate document.
    </p>

    <p style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
      <strong>MaximumR&D, {{todayDate | date: 'MMMM y'}}</strong>
    </p>
  </div>

  <div>
    <button (click)="createPDF()">create PDF</button>
  </div>

<!--  <p (click)="testLog()" style="margin-top: 20px">-->
<!--    Test Log-->
<!--  </p>-->

</div>

