<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<h1 mat-dialog-title>Help dialog</h1>
<div mat-dialog-content>
  <span *ngIf="data.question === 'question1'">Only Limited Companies are eligible for UK tax relief</span>
  <span *ngIf="data.question === 'question2'">question 2 was pressed</span>
  <span *ngIf="data.question === 'question3'">You will not be eligible for R&D tax relief if the last day of your
    Accounting Period is over 24 months before today’s date</span>
  <span *ngIf="data.question === 'question4'">question 4 was pressed</span>
  <span *ngIf="data.question === 'question5'">question 5 was pressed</span>
  <span *ngIf="data.question === 'question6'">question 6 was pressed</span>
  <span *ngIf="data.question === 'question7'">question 7 was pressed</span>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
