<div class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="assets/img/Placeholder_logo_TEMPORARY.png" height="30" alt="">
  </a>
  <button class="btn btn-primary"
          [routerLink]="['']">
    Home
  </button>
  <button class="btn btn-primary" *ngIf="!authService.isLoggedIn"
          [routerLink]="['/sign-in']">
    Sign-in
  </button>
  <button class="btn btn-primary" *ngIf="authService.isLoggedIn"
          (click)="authService.signOut()">
    Sign-out
  </button>
</div>
