<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<div class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <span class="navbar-brand">
    Maximum R&D
  </span>
  <button class="btn btn-primary"
          [routerLink]="['']">
    Home
  </button>
  <button class="btn btn-primary"
          [routerLink]="['/sign-in']">
    Sign-in
  </button>
  <button class="btn btn-primary"
          (click)="authService.signOut()">
    Sign-out
  </button>
</div>
