<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<div class="container" style="margin-top: 100px; margin-bottom: 50px">
  <div class="row">
     <div class="col-sm-12">
       <h2>
         Traffic light questions
       </h2>
       <p>
         Text about the traffic light test
       </p>
       <form  [formGroup]='trafficLightForm' (ngSubmit)="onSubmit()">
         <div class="form-group; question_border" style="margin-top: 20px">
           <h6 style="margin-left: 3px">
             Is your business a Limited Company?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question1" name="question1"
                                class="form-control" formControlName="question1"
                                aria-label="Select an option"
                                [ngClass] = "{ 'error' : isInvalid('question1')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question1')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div class="form-group; question_border" style="margin-top: 50px">
           <h6 style="margin-left: 3px">
             Is your Company in the UK?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question2" name="question2"
                                class="form-control" formControlName="question2"
                                aria-label="Select an option"
                                [ngClass] = "{ 'error' : isInvalid('question2')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question2')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div class="form-group; question_border" style="margin-top: 50px;">
           <h6 style="margin-left: 3px">
             Did your Accounting Period end within the last 24 Months?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question3" name="question3"
                                class="form-control" formControlName="question3"
                                aria-label="Select an option"
                                [ngClass] = "{ 'error' : isInvalid('question3')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question3')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div class="form-group; question_border" style="margin-top: 50px;">
           <h6 style="margin-left: 3px">
             Are you developing, or have you already created a new product or process?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question4" name="question4"
                                class="form-control" formControlName="question4"
                                aria-label="Select an option"
                                (click)="question4Answered()"
                                [ngClass] = "{ 'error' : isInvalid('question4')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question4')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div class="form-group; question_border" style="margin-top: 50px" *ngIf="displayQ5()">
           <h6 style="margin-left: 3px">
             If not, are you trying to adapt, modify or reinvent a new product or process?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question5" name="question5"
                                class="form-control" formControlName="question5"
                                aria-label="Select an option"

                                [ngClass] = "{ 'error' : isInvalid('question5')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question5')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div class="form-group; question_border" style="margin-top: 50px">
           <h6 style="margin-left: 3px">
             Is there a risk your project will not succeed?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question6" name="question6"
                                class="form-control" formControlName="question6"
                                aria-label="Select an option"
                                [ngClass] = "{ 'error' : isInvalid('question6')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question6')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div class="form-group; question_border" style="margin-top: 50px">
           <h6 style="margin-left: 3px">
             Is your company making a profit before tax?
           </h6>
           <div class="row">
             <div class="justify-content-lg-around" style="padding-left: 15px">
               <mat-radio-group id="question7" name="question7"
                                class="form-control" formControlName="question7"
                                aria-label="Select an option"
                                [ngClass] = "{ 'error' : isInvalid('question7')}">
                 <mat-radio-button value="yes">yes</mat-radio-button>
                 <mat-radio-button value="no">no</mat-radio-button>
               </mat-radio-group>
             </div>
             <div class="col">
               <mat-icon aria-hidden="false" aria-label="Example info icon"
                         (click)="openHelpDialog('question7')"
                         style="cursor: pointer">info
               </mat-icon>
             </div>
           </div>
         </div>
         <div style="margin-top: 30px">
           <span *ngIf="isIncomplete()">
             Please select an answer for each question
           </span>
           <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">
             Submit
           </button>
         </div>
       </form>
     </div>
  </div>
</div>
