<div class="container" style="margin-top: 100px;">
  <div class="col-sm-12 text-left">
    <h2>
      Welcome to www.MaximumR&D.co.uk
    </h2>
    <p>
      We are specialists R&D Tax claims
      and have created an effective and easy to use service to help your company reap the benefits of
      HRMC’s R&D claims system!
    </p>
    <p>
      If you believe your company could be entitled to claim any amount of tax back on a Research and
      Design project you have undertaken, take our quick and simple 1 minute test below to see if
      you qualify for tax relief from HRMC.
    </p>
    <button mat-stroked-button [routerLink]="['/tltv1']">
      Take our test!
    </button>
  </div>
</div>
