<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<div class="container" style="margin-top: 100px;">
  <div class="col-sm-12 text-left">
    <h2>
      Welcome page - Title
    </h2>
    <p>
      Text could the traffic light test
    </p>
    <button class="btn btn-primary"
            [routerLink]="['/tltv1']">
      Traffic light test
    </button>
  </div>
</div>
