<p>
  To create a new claim please fill in the following two fields:
</p>

<form [formGroup]="claimDetails">

  <div class="form-group">
    <h6>
      Your name
    </h6>
    <mat-form-field class="col-5 mb-2 mx-auto" appearance="outline">
      <mat-label>Project name</mat-label>
      <input type="text" matInput formControlName="name"
             placeholder="Project name">
      <mat-error *ngIf="claimDetails.get('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="small-width" appearance="outline">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="claimStartDatePicker" formControlName="claimStartDate"
             (dateChange)="onClaimStartDateChange()" disabled>
      <mat-datepicker-toggle matSuffix [for]="claimStartDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #claimStartDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="small-width" appearance="outline" style="margin-left: 25px">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="claimEndDatePicker" formControlName="claimEndDate"
             disabled [max]="maxClaimDate" (dateChange)="isClaimEndDateValid()">
      <mat-datepicker-toggle matSuffix [for]="claimEndDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #claimEndDatePicker [disabled]="claimEndDateDisabled"></mat-datepicker>
      <mat-error *ngIf="claimDetails.get('claimEndDate').errors?.dateLessThan &&
              !claimDetails.get('claimEndDate').errors?.endDateMoreThanYear">
        End date <strong>should not</strong> be before start date
      </mat-error>
      <mat-error *ngIf="!claimDetails.get('claimEndDate').errors?.dateLessThan &&
              claimDetails.get('claimEndDate').errors?.endDateMoreThanYear">
        End date <strong>should not</strong> more than 1 year after start date
      </mat-error>
    </mat-form-field>
  </div>

</form>

<div class="row">
  <button mat-stroked-button *ngIf="!isIncomplete()" (click)="createClaim()" style="margin-top: 20px" mat-dialog-close>
    Create form
  </button>

  <div mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>cancel</button>
  </div>
</div>

<p style="margin-top: 20px">
  Note: The above fields can be edited on the form. This is to insure you can identify the newly created form
  on the dashboard.
</p>
